<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <footer>
        <div class="wrapper">
            <h1>Get in Touch With Us</h1>
            <p>4578 Marmora Road, Glasgow D04 89GR</p>
            <img src="Phone.png">
            <p>Mon-Sat 8:00 am to 8:00pm</p>
            <img src="SMIcons.png">
            <ul>
                <li>
                    <img src="Logo.png">
                    <p>&copy; 2016. Privacy Policy</p>
                </li>
            </ul>
        </div>
    </footer>
	<!-- End Component -->
	
</body>
</html>