<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='https://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	
</head>
<body>

	<!-- Component -->
    
    <h1 class="logo">Durand</h1>
    
    
    <nav>
        <ul>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">About Us</button>
                    <div class="dropdown-content">
                        <a href="#">Header Settings</a>
                        <a href="#">Footer Settings</a>
                        <a href="#">Pages</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Services</button>
                    <div class="dropdown-content">
                        <a href="#">Haircuts</a>
                        <a href="#">Hair Extensions</a>
                        <a href="#">Hair Coloring</a>
                        <a href="#">Blowdry &#38; Style</a>
                        <a href="#">Children's Haircuts</a>
                        <a href="#">Conditioning</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Our Staff</button>
                    <div class="dropdown-content">
                        <a href="#">Alicia Peace</a>
                        <a href="#">Stacy Waters</a>
                        <a href="#">Mary Pipestone</a>
                        <a href="#">Brenda Mayers</a>
                    </div>
                </div>
            </li>
            
            <li>    
                <div class="dropdown">
                    <button class="dropbtn">Schedule</button>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">News</button>
                    <div class="dropdown-content">
                        <a href="#">Post Format</a>
                        <a href="#">Blog Layout</a>
                        <a href="#">Sidebar Settings</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn last">Contacts</button>
                </div>
            </li>
            </ul>
    </nav>
	<!-- End Component -->
	
</body>
</html>