/* Component Stylesheet 
============================================================
============================================================*/
body{
    font: 16px / 1.0 'Arial', sans-serif; 
}
.logo {
    font: 65px 'Six Caps', sans-serif;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}
nav {
    font-weight:bold;
    font-family: 'Montserrat',sans-serif; 
    margin: auto;
    text-align: center;
}

nav li {
    display: inline-block;
}
.dropbtn {
    font-size: .9em;
    color: #000;
    padding: 16px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    text-transform:uppercase;
}
.dropbtn {
    border-right: 1px solid #000;   
    
}
.last {
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 200px;
    font-size: .75;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: #d28783
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropbtn:hover {
    color: #d28783;
    outline: 0;
}
.dropbtn:active, .dropbtn:visited, .dropbtn:link {
    outline: 0;
}
