/* Project CSS 
============================================================
============================================================*/
body {
	margin: auto;
    font: 16px / 1.0 'Oxygen', sans-serif;
    color: #27344E;
}

.container {
	background-color: #FFF;
	margin: auto;
}
.container h1, h2, h3, p{
    padding: 1.052632% 2.105263%;  
}
body, .container {
	margin-top: 2.105263%;
	margin-bottom: 5.263158%;
}

img {
	max-width: 100%;
	height: auto;
	display:block;
	margin:auto;
	margin-bottom: 30px;
}
img:hover {
	opacity: 0.5;
}
.h1 {
	font-size: 1.80em;
    
}
h2 {
	font-size: 1.625em;
	margin: 20px 0;
    font-weight: bold;
}
h3 {
	font-size: 1.125em;
	text-decoration: underline;
	font-weight: bold;
}


/* HEADER ============================== */
header > h1 {
	margin-left: 10.24%;
	font-size: 1.875em;
}
header li {
    display: inline-block;
    padding-left: 2%;
    padding-bottom: 2%;
    margin: auto;
}
header a:link {
    color: #27344E;   
}
header a:hover {
    color: #61A3F5;   
}
/* ABOUT ============================== */
.about {
    background: #ffffff url("../images/About.png") no-repeat scroll top;
    background-size: cover;
    margin: auto;
    height: 500px;
    
}
.about p {
    font-size: 1.25em;
    color: #fff;
	width: 40%;
	font-style: italic;
	margin-bottom: 10px;
    text-align: center;
    position: relative;
    left: 60%;
    top:35%;
    
}
/* COMPONENTS ============================== */
.library {
	margin: 20px 0;
}
.component-1 p, .component-2 p, .component-3 p, .component-4 p, .component-5 p  {
	margin: 20px 0px;
}
div .component-2 {
	padding: 20px;
	border: solid 20px #5086F2; 
}
