<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
	
</head>
<body>

	<!-- Component -->
    <h1>see what's new o<em>n our blog</em></h1>
    
    <div class="wrapper">
        <h2 class="date">May 03</h2>
        <p class="creator"><em>Posted by admin</em>   &#9679;   2 comments</p>
        <img src="3.png">
        <h2 class="title">How to wash and style curly hair</h2>
        <p><em>We finally produced a video guide on how to do the right styling for your curly hair!</em></p>
        <button class="button" type="button">Read More</button>
    </div>
    
    <div class="wrapper">
        <h2 class="date">April 24</h2>
        <p class="creator"><em>Posted by admin</em>   &#9679;   0 comments</p>
        <img src="2.png">
        <h2 class="title">Returning to a natural hair texture</h2>
        <p><em>In recent years, an increasingly big number of African American women take a fashion decision to return to their natural...</em></p>
        <button class="button" type="button">Read More</button>
    </div>
    
    <div class="wrapper">
        <h2 class="date">April 21</h2>
        <p class="creator"><em>Posted by admin</em>   &#9679;   0 comments</p>
        <img src="1.png">
        <h2 class="title">Winterish version of rainbow hair?</h2>
        <p><em>Though the winter holidays season may have ended, we're still eagerly holding on to our love of glitter.</em></p>
        <button class="button" type="button">Read More</button>
    </div>
	<!-- End Component -->
	
</body>
</html>