<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <div class="floatLeft">
    <h1>Personal Loans</h1>
    <p>You can use our personal loans to get the car you want, consolidate your debts or for something else, like a new motorbike, boat or renovation.</p>
    </div>
    
    <div class="floatRight">
    <p>Apply Now!</p>
    <form>
        <input type="text" name="Name" placeholder="Name: *" required><br>
        <input type="email" name="Email" placeholder="Email: *" required><br>
        <input type="tel" name="Phone" placeholder="Phone:"><br>
        <input type="text" name="Amount" placeholder="Amount:"><br>
        <input type="submit" class="button" value="Click Here Now!">
    </form>
    </div>
	<!-- End Component -->
	
</body>
</html>